img {
    width: 30%;
    float: left;
    margin: 1.66%;
}
h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 23px;
    margin-left: 1.66%;
    font-weight: 800;
    text-transform: uppercase;
    border-bottom: 1px solid gray;
    width: 30%;
}