.circle {
  width: 300px;
  height: 300px;
  background-color: magenta;
  /* transition: 1s; */
  /* transition: property name | duration | timing function | delay */
  /* transition: all 3s 1s;  */
  /* transition: background-color 1s, border-radius 2s; to modify the two properties in different way.*/
}

.circle:hover {
  background-color: cyan;
  border-radius: 50%;
}

section div {
  height: 100px;
  width: 100px;
  background-color: turquoise;
  margin: 20px 0;
  transition: margin-left 3s;
}

section:hover div {
  margin-left: 500px;
}

div:nth-of-type(1) {
  transition-timing-function: ease-in;
}
div:nth-of-type(2) {
  transition-timing-function: ease-out;
}
div:nth-of-type(3) {
  transition-timing-function: ease-in-out;
}
div:nth-of-type(4) {
  transition-timing-function: cubic-bezier(0.85, 0, 0.15, 1);
}
