/*font-family*/
p {
    font-family: Arial;
}

h1 {
    font-family: Georgia;
}
/*font-size*/
body {
    font-size: 10px;
}
h1 {
    font-size: 5em;
}

p { 
    font-size: 2em;
}
span {
    font-size: 2em;
}
/*font-weight*/

p {
    font-weight: normal;
}
/*line-height*/
p {
    line-height: 1.5;
}
/*text-align*/

h1 {
    text-align: right;
}

p {
    text-align: center;
}
/*text-decoration*/
p {
    text-decoration: underline;
}

h1 {
    text-decoration: line-through;
}

/*Google font*/

h1 {
    font-family: 'Open Sans';
}