/*font-family*/
p {
    font-family: Arial;
}

h1 {
    font-family: Georgia;
}
/*font-size*/
body {
    font-size: 10px;
}
h1 {
    font-size: 5em;
}

p { 
    font-size: 2em;
}
span {
    font-size: 2em;
}
/*font-weight*/

p {
    font-weight: bold;
}
/*line-height*/


/*text-align*/

/*text-decoration*/