h1 {
  background-color: #2a9d8f;
  border: 5px solid #264653;
  color: #eae2b7;
  padding: 0.7em;
  width: 300px;
  font-size: 1.8em;
  text-align: center;
  margin: 20px auto;
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;
}

h1:nth-of-type(2n) {
  background-color: #e9c46a;
}
h1:nth-of-type(3n) {
  background-color: #f4a261;
}
h1:nth-of-type(4n) {
  background-color: #e76f51;
}

section:nth-of-type(1) h1:nth-of-type(1) {
  /* transform-origin: bottom right; */
  transform: rotate(180deg);
}

section:nth-of-type(1) h1:nth-of-type(2) {
  transform: scale(0.5);
  /* transform: scale(X,Y) scaleX() scaleY() */
}
section:nth-of-type(1) h1:nth-of-type(3) {
  transform: translateX(100px);
  /* translate can be x y or both */
}

section:nth-of-type(1) h1:nth-of-type(4) {
  transform: skew(10deg, 5deg);
  /* skew can be x y or both */
}

/* can combine trannsformations */

section:nth-of-type(2) h1:nth-of-type(1) {
  transform: rotate(-30deg) scale(1.3) skew(10deg, 5deg);
}

/* all transform will apply to parent element and its contents! */
