body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 6em;
  text-align: center;
}
nav {
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
}

ul {
  /* border: 1px solid red; */
  flex-grow: 1;
  max-width: 50%;
  display: flex;
  justify-content: space-evenly;
}

ul,
li {
  /* display: inline; */
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 576px) {
  h1 {
    font-size: 3em;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 4em;
  }

  nav, nav ul {
    flex-direction: column;
    align-items: center;
  }

}
/* @media (min-width: 600px) and (max-width: 800px) {
    h1{
        color: purple;
    }
} */

/* larger screens first */
/* @media (max-width: 1500px) {
  h1 {
    color: chartreuse;
  }
}

@media (max-width: 1000px) {
  h1 {
    color: orange;
  }
}
@media (max-width: 600px) {
  h1 {
    color: red;
  }
} */

/* or do range */
/* @media  (min-width: 501px) and (max-width: 1000px){
    h1 {
        color: red;
    }
} */

/* or do defaults for small screens, then implement media query for smaller screens for min-width */

/* h1 {
    color: red;
  }

@media (min-width: 600px) {
  h1 {
    color: orange;
  }
}
@media (min-width: 1000px) {
  h1 {
    color: chartreuse;
  }
} */

/* @media (orientation: landscape) {
    body {
        background-color: magenta;
    }
} */
