/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #64dfdf;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#pricing-table {
  background-color: white;
  border-radius: 10px;
  padding: 15px 25px;
  width: 100%;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
}

.pricing-category {
  border-bottom: 1px solid #e1f1ff;
}
.pricing-category:last-child {
  border-bottom: none;
}

.category-image {
  margin-bottom: 25px;
  width: 100%;
}

.category-label {
  font-weight: 600;
  letter-spacing: 0.2em;
  color: #888;
}

.category-features {
  margin: 50px 0 25px;
  color: #016ff5;
}

.category-feature {
  font-weight: 600;
  letter-spacing: 0.2em;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
  border-top: 1px solid #e1f1ff;
  border-bottom: 1px solid #e1f1ff;
}

.category-price {
  color: #016ff5;
  display: block;
  font-size: 32px;
  font-weight: 700;
  
}

.category-signup {
  margin: 25px 0;
  display: inline-block;
  border: 2px solid #9dd1ff;
  border-radius: 10px;
  color: #328efe;
  padding: 20px 35px;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.category-signup:hover,
.category-signup:focus {
  background-color: #328efe;
  color: white;
  border: 2px solid #328efe;
}

@media (min-width: 900px) {
  #pricing-table {
    flex-direction: row;
  }

  .pricing-category {
    border-bottom: none;
    border-right: 1px solid #e1f1ff;
    padding: 25px 50px;
  }
  .pricing-category:last-child {
    border-right: none;
  }

  .category-label {
    font-size: 20px;
  }
  .category-features li {
    font-size: 15px;
  }
}
/* .pricing-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid chartreuse;
}

.category-image {
}
.category-features {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
