<%- include('partials/head')%>
    
        <%- include('partials/navbar') %>
        <!-- Whatever is enclosed with is treated like javascript code inside the html -->
        <h1>Home page <%= 4 + 5 + 1%></h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora in
            cum illum impedit quasi libero reiciendis dolores quas atque ipsa
            saepe unde et necessitatibus voluptas quidem, corporis aspernatur
            vero at? Accusantium, voluptatum excepturi molestiae enim beatae,
            qui dolorem ea optio deleniti nostrum, similique laudantium iusto
            assumenda! Tenetur officia, mollitia numquam voluptatem eum nulla
            quod non, sequi magni obcaecati excepturi labore.
        </p>

        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus
            exercitationem delectus incidunt similique vitae praesentium, dolor,
            quaerat fugit cumque ea ex tempore neque placeat animi, dolores at
            illo laudantium? Necessitatibus. Eum, pariatur similique quod
            perferendis repellat cum iste veniam, odio ea illum, itaque
            consectetur eius quis numquam nobis in aliquam repellendus! Quis,
            excepturi? Illo ratione, odio provident et inventore commodi! Fugiat
            consequatur tenetur, deserunt cum cupiditate voluptatem quae
            excepturi labore saepe illo explicabo, suscipit iste magnam!
            Excepturi, labore. Voluptas at quam quidem harum praesentium nemo
            aliquam, inventore qui provident maiores?
        </p>
<%- include('partials/footer') %>