<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Edit</title>
    </head>
    <body>
        <h1>Edit</h1>
        <form action="/comments/<%=comment.id%>?_method=PATCH" method="POST">
            <textarea name="comment" id="" cols="30" rows="10">
<%=comment.comment%></textarea
            >
            <button>Save</button>
        </form>
    </body>
</html>
