<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>New comment</title>
    </head>
    <body>
        <h1>Make a new comment</h1>

        <form action="/comments" method="POST">
            <label for="username">Please enter your username: </label>
            <br />
            <input
                type="text"
                placeholder="username"
                name="username"
                id="username"
            />
            <br />
            <label for="comment">Please enter your comment: </label>
            <br />
            <textarea
                placeholder="comment"
                name="comment"
                id="comment"
                cols="30"
                rows="5"
            ></textarea>
            <button>Submit</button>
        </form>
        <a href="/comments">Back to list of comments</a>
    </body>
</html>
